<section>
  {% for post in site.posts %}
    {% if post.categories contains include.category or include.category == nil %}
    <div class="media t-hackcss-media">
      <div class="media-body">
        <div class="media-heading">
          <span>{{ post.date | date_to_string }} &raquo;
              <a href="{{ post.url | prepend: site.baseurl }}" title="{{ project.name }}">
                  {{ post.title }}
              </a>
          </span>
        </div>
        <div class="media-content">
          {{ post.short_description }}
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</section>
